@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="search row">
        <div class="searchTitle col-3">Enter your search query:</div>
        <input class="col-6" id="searchQueryInput" type="text" />
        <button class="col-2 mx-2" id="searchButton">Search</button>
    </div>
    <br/>
    <table id="userTable" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>First and Last Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


